<!DOCTYPE >
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app">
      <ul>
        <!-- The value can be used in directives as well -->
        <!-- Bind to key to uniquely identify item. If this is included, vue can use it to prevent certain problems that may occur if the state of the data changes. -->
        <li v-for="(bird, index) in birds" :class="bird" :key="bird">
          {{ index }}: {{ bird }}
        </li>
      </ul>

      <hr />

      <ul>
        <li v-for="person in people">
          <!-- Looping through object properties -->
          <div v-for="(value, key, index) in person">
            {{ key }}: {{ value }} - Index: {{ index }}
          </div>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
