<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- <img :src="image" /> -->
            <img :class="{ 'out-of-stock-img': inventory==0 }" :src="image" />
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <a :href="url">Click me!</a>
            <p>{{ inventory }} In stock</p>
            <p v-if="inventory <= 3 && inventory > 0">Almost sold out</p>
            <p v-else>Out of stock</p>
            <p v-show="inventory > 0">{{ description }}</p>
            <p v-show="onSale && inventory > 0">On sale!</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div
              v-for="variant in variants"
              :key="variant.id"
              @mouseover="updateImage(variant.image)"
              class="color-circle"
              :style="{backgroundColor: variant.color}"
            ></div>
            <button
              class="button"
              :class="{disabledButton: inventory==0}"
              :disabled="inventory==0"
              @click="addToCart"
            >
              Add
            </button>
            <button
              class="button"
              :class="{disabledButton: cart==0}"
              :disabled="cart==0"
              @click="removeFromCart"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
