/* Google fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto&display=swap");

body {
  font-family: "roboto", sans-serif;
}
h1,
h2 {
  font-family: "Mr Dafoe", cursive;
} */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
