/*
#f1f5f9 
#fff 
#ffe8f1 
#ff69a6 
#ecf4ff 
#68a3ff
 */

* {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f9;
}

.card {
  background: #fff;
  padding: 1.5rem 2rem;
  text-align: center;
  max-width: 300px;
  margin: 3rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  margin: 3rem auto;
}

.card-1 {
  border-color: #ff69a6;
}

.card-2 {
  border-color: #68a3ff;
}

.icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.card-1 .icon {
  background: #ff69a6;
}

.card-2 .icon {
  background: #68a3ff;
}

.title {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.text {
  line-height: 1.5;
  color: gray;
}

.btn {
  border-radius: 0.5rem;
  border: transparent;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
}

.btn-pink {
  background: #ffe8f1;
  color: #ff69a6;
}

.btn-blue {
  background: #ecf4ff;
  color: #68a3ff;
}
