* {
  color: gray;
  font-size: 20px;
}
.icon {
  color: red;
  font-size: 40px;
}
#title {
  color: blue;
  font-size: 25px;
}
.container p {
  font-size: 15px;
  text-align: center;
}
#paragraph2 {
  text-align: right;
  color: green;
}
